*{
    margin: 0;
    padding: 0;
}
body{
    background: url(priscilla-du-preez-ggeZ9oyI-PE-unsplash.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    color: black;
    position: absolute;
    height: 400px;
    width: 450px;
    border: 2px solid rgba(255,255,255,.2);
    border-radius: 10px;
    padding: 15px 15px ;
    backdrop-filter: blur(200px);
    box-shadow: 0 0 30px rgba(0,0,0,.2);
}

.container h1{
    font-size: 40px;
    border-bottom: 5px solid black;
    margin-bottom: 50px;
    padding: 10px 0;
}

.box{
    width: 100%;
    margin: 10px 0;   
    border: 2px solid black;
    border-radius: 10px;
}

.box input{
    background: none;
    width: 75%;
    margin: 12px 0px;
    padding: 5px 10px;
    font-size: 20px;
    border: none;
    outline: none;    
    color: black;
    font-weight: bold;
}

.box i{
    padding: 5px;
    width: 25px;
    text-align: center;
}



.btn{
    color: black;
    background: none;
    cursor: pointer;
    outline: none;
    width: 30%;
    margin: 12px 0;
    padding: 6px;
    border: 2px solid black;
    border-radius: 10px;
    font-weight: bold;
    transition: .5s;
    display: block;
    margin-top: 25px;
    margin-bottom: 5px;
    align-items: center;

}
.btn:hover{
    color: white;
    background-color: black;
    font-weight: bold;
}

input::placeholder{
    color: black;
    font-weight: 400;
    font-size: 17px;
}

.new{
    margin: 35px;
    font-size: 16.5px;
}
.error{
    color: red;
}

@media only screen and (max-width:1023px) {
    body{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .box{
       position: relative;
       top: 0px;
       left: 0px;
       
    }

    .box h1 {
        font-size: 1.6rem;
        font-weight: lighter;
    }

}