
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f7fa;
    display: flex;
    justify-content: space-between;
    height: 100vh;
}

#container {
    display: flex;
    width: 100%;
    height: 100%;
}

#filters {
    width: 250px;
    background-color: #ffffff;
    box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    overflow-y: auto;
    animation: fadeIn 1s ease-out;
}

.filter {
    margin-bottom: 20px;
}

.filter h3 {
    font-size: 1.4em;
    margin-bottom: 10px;
    color: #333;
}

.filter-button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    width: 100%;
}

.filter-button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.papers-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 20px;
    width: 75%;
    margin-left: 270px;
    padding: 20px;
    animation: fadeIn 1s ease-out;
    overflow-y: auto;
}

.paper {
    background-color: white;
    border: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.sub-detail{
    color: #817e7e;
}

.paper:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.paper h4 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #005b96;
}

.paper a {
    display: inline-block;
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 1.2em;
    transition: background-color 0.3s ease;
}

.paper a:hover {
    background-color: #218838;
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}