{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EZSem</title>
    <link rel="stylesheet" href="{% static 'css/homepage.css' %}" />
  </head>
  <body>
    <div class="container">
      <div class="log">
        <img
          src="{% static 'css/Screenshot_2024-12-03_121915-removebg-preview.png' %}"
          class="image"
        />
      </div>
      {%if user.is_authenticated %}
      <div class="container3">
        <div class="profile">
          <p align="justify">
            <b class="welcome"
              >Welcome,<br /><span class="username"
                >{{user.first_name}}</span
              ></b
            >
          </p>
          <a href="Accounts/logout" class="btn3">Logout</a>
        </div>
        <div class="choose">
          <a href="{% url 'papers.html' %}" class="btn2">Enter</a>
        </div>
      </div>
      {% else %}
      <div class="container3">
        <div class="head">Get Started</div>
        <div class="cred">
          <a href="{% url 'register' %}" class="btn">Sign Up</a>
          <a href="{% url 'login' %}" class="btn">Login</a>
        </div>
      </div>
      {% endif %}
    </div>
    <script src="{% static 'js/slide.js' %}"></script>
  </body>
</html>
