{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/9e97db3298.js" crossorigin="anonymous"></script>
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>

<body>
    <div class="container">
        <center><h1>Login</h1></center>
        <form action="login" id="form2" method="POST">
        {% csrf_token %}    
        <div class="box">
            <i class="fa fa-university"></i>
            <input type="text" name="roll" id="roll" placeholder="Enter Your University Roll Number" form="form2">
        </div>
        <div class="box">
            <p>
                <i class="fa fa-key"></i>
                <input type="password" name="password" id="password" placeholder="Enter Your Password" form="form2">
                <i class="fa-regular fa-eye" onclick="pass()" id="pass-icon"></i>
            </p>
        </div>
        </form>
        {% for message in messages %}
            <div class="error">{{message}}</div>
        {% endfor %}
        <center>
            <button class="btn" type="submit" form="form2" value="Submit">Login</button>
        </center>
        <div class="new">
            <center><p>Don't Have an Account? <a href="{% url 'register' %}">Register</a></p></center>
        </div>
    </div>
    <script src="{% static 'js/slide.js' %}"></script>
</body>
</html>
