{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/9e97db3298.js" crossorigin="anonymous"></script>
    <title>Requirements</title>
    <link rel="stylesheet" href="{% static 'css/selection.css' %}">
</head>

<body>
    <div class="container">
        <center><h1>CHOOSE...</h1></center>
        <div class="branch">
            <select class="select">
                <option value="0">SELECT BRANCH</option>
                <option value="1">CSE</option>
                <option value="2">IT</option>
                <option value="3">ECE</option>
                <option value="4">ME</option>
                <option value="5">EEE</option>
                <option value="6">CHE</option>
            </select>
        </div>
        <div class="semester">
            <select class="select">
                <option value="0">SELECT SEMESTER</option>
                <option value="1">1st</option>
                <option value="2">2nd</option>
                <option value="3">3rd</option>
                <option value="4">4th</option>
                <option value="5">5th</option>
                <option value="6">6th</option>
                <option value="7">7th</option>
                <option value="8">8th</option>
            </select>
        </div>
        <center><button class="btn">SUBMIT</button></center>
</body>
</html>