{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/9e97db3298.js" crossorigin="anonymous"></script>
    <title>Requirements</title>
    <link rel="stylesheet" href="{% static 'css/pdfs.css' %}">
</head>

<body>
    <div class="container">
    <center><h1>CHOOSE</h1></center>
    <form method="get">
        <center>
        <select class="select" id="year" name="year" onchange="this.form.submit()">
            <option value="">SELECT YEAR</option>
            <option value="1">1st Year</option>
            <option value="2">2nd Year</option>
            <option value="3">3rd Year</option>
            <option value="4">4th Year</option>
        </select>
    </center>
    </form>
<center>
    <h3>Year {{selected_year}}</h3>
        <table>
            <tr>
                {% for student in students %}
                    <th>{{ student.name }}</th>
                {% endfor %}
            </tr>
            <tr>
                    {% if pdf_links %}
                        {% for link in pdf_links %}
                            <td><a href="{{ link }}" target="_blank">Link</a></td>
                        {% endfor %}
                    {% else %}
                        
                    {% endif %}
            </tr>
            
        </table>
    </center>
    <script src="{% static 'js/options.js' %}"></script>
</body>
</html>