{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/9e97db3298.js"
      crossorigin="anonymous"
    ></script>
    <title>Requirements</title>
    <link rel="stylesheet" href="{% static 'css/options.css' %}" />
  </head>

  <body>
    <a href="/" class="btn2">Home</a>
    <h1>Previous Years Question Papers</h1>

    {% for year, papers in papers_by_year.items %}
    <h2>{{ year }}</h2>
    <ul>
      {% for paper in papers %}
      <li>
        <a href="{% url 'download_paper' paper.id %}">
          {{ paper.subject }} ({{ paper.year }})
        </a>
      </li>
      {% empty %}
      <li>No papers available for {{ year }}</li>
      {% endfor %}
    </ul>
    {% endfor %}
    <script src="{% static 'js/options.js' %}"></script>
  </body>
</html>
